@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: #fff;
    background-color: #000;
  }
}

@layer components {
    .menuLink{
      @apply cursor-pointer hover:text-[#f5d72d55];
  }

  .tags {
    background-color: rgba(67, 117, 117, 0.867);
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    padding: 3px 10px;
    display: inline-block;
    color: antiquewhite;
    font-size: 12px;
  };

  .tags:last-child {
    margin-right: 0;
  }

  .tags:nth-child(2) {
    background: rgb(152, 202, 15);
  }

  .tags:nth-child(3) {
    background-color: rgb(192, 152, 22);
  }

  .tags:nth-child(4) {
    background-color: rgb(70, 139, 204);
  }
}